 
body{
   margin: 0px;
   font-family: "Kanit", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 48px;
    top: 0;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);

}
.web-name h1{
    float: right;
    margin: 4px;
    margin-top: 0px;
    color: #3cb0d7;
}
.svg-cat{
    
    margin: 4px;
    margin-left: 48px;

}
nav{
    margin-right: 48px;
    align-content: center;
    
}
nav a{
    color: black;
    text-decoration-line: none;
    margin-inline: 8px;
    font-weight: 600;
}
.Home{
    width: 100%;
    height: 600px;
    max-height: max-content;
    margin-top: 48px;
    background-image: url(/Assets/img.jpg);
    background-size: 100% 100%;
    align-content: center;
}
.Home h1{
    margin-bottom: 0px;
    margin-left: 48px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.Home span {
    margin-left: 48px;
}
.Home p{
    margin-left: 48px;
}

main{
    margin-left: 48px;
}

.category-title h2{
    text-align: center;
}